ul {
  list-style-type: none;
  padding: 0px;

  display: flex;
  justify-content: space-evenly;

  border-radius: 100cm;

  background-color: #fff0c0;
  box-shadow: black 0px 0px 5px;
}

li {
  margin: 0.3cm;
  padding: 0px;
  width: min-content;
  border-radius: 100cm;
}

a {
  display: block;
  border-radius: 0.1cm;
  padding: 0.2cm;
  text-align: center;
}


#my-comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

