
<nav id="my-navbar">

  <ul id="my-navbar-ul">
    <div id="my-navbar-li-loggedUser" [ngStyle]="displayElementsWhenUserIsUNKNOWN()">

      <li class="my-navbar-ul-li">
        <a class="nav-link" (click)="myRoutes.navigateToLoginForm()">Login</a>
      </li>

      <li class="my-navbar-ul-li">
        <a class="nav-link active" (click)="myRoutes.navigateToRegisterForm()">Register</a>
      </li>

    </div>

    <div id="my-navbar-li-logoutUser" [ngStyle]="displayElementsWhenUserIsLogged()">

      <li class="my-navbar-ul-li">
        <a class="nav-link" (click)="myRoutes.navigateToHome()">Forum</a>
      </li>

      <li class="my-navbar-ul-li">
        <a class="nav-link" (click)="myRoutes.navigateToProfile()">Profile</a>
      </li>

      <li class="my-navbar-ul-li">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>

    </div>
  </ul>

</nav>
